body {
    margin: 0;
    color: white;
}

.container{
    display: grid;
    grid-template-rows: 6% 94%;
    background: url(public/assets/img/470re.jpg) no-repeat fixed;
    background-size: cover;
    background-position: center center;
}

.left-side{
    grid-row-start:1;
    grid-row-end: 2;
    background-color: black;


}
.right-side
{

    grid-row-start:2;
    grid-row-end: 3;
    height: 100vh;

}
.container-inside{
    display: grid;
    grid-template-rows: 100% 0% 0%
}

.logo{
    grid-row-start:2;
    grid-row-end: 3;

}
.navbar
{
    grid-row-start:1;
    grid-row-end: 2;
    height: 60px;



}
.socials{
    grid-row-start:3;
    grid-row-end: 4;

}
/* Mobile nav style */

.displayNone {
    display: none !important;
}
.displayBlock {
    display: block;
}
a{
    text-decoration: none;
    color: white;
}

.logo, .socials, #web-nav{
    display: none;
}

#mobile-nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#mobile-nav a{
    margin-top: 2px;
}

#mobile-expand {
    background: black;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;


}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-times {
    margin-right: 41px;
    margin-top: 20px;
    font-size: 34px;
    cursor: pointer;
}

.menu {
    list-style: none;
    margin-top: 100px;
    text-align: center;
}

.menu li {
    margin: 20px;
    font-size: 1.2em;
    
}
.menu li a {
    color: white;
}


.mobile-logo 
{
    display: inline-block;
    margin-left: 31px;
    margin-top: 22px;
}
.hamburger {
    margin-right: 25px;
    cursor: pointer;
}
.fa-bars {
    font-size: 25px;
}

/* Main Content Style */


.main-content{
    text-align: center;
    margin-top: 144px;
    padding: 0px 90px;
}


@media (min-width: 897px) { 
    .container
{
    display: grid;

    grid-template-columns: 20% 80%;
    grid-template-rows: 25% 60% 15%;
}
.left-side
{
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:1;
    grid-row-end: 4;
    height: 100vh;

}
.right-side
{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end: 4;
    height: 100vh;

}

.container-inside{
    display: grid;
    grid-template-rows: 25% 60% 15%;
    height: 100vh;
}

.logo{
    grid-row-start:1;
    grid-row-end: 2;
}

.navbar
{
    grid-row-start:2;
    grid-row-end: 3;

    height: 100%;
}
.socials{
    grid-row-start:3;
    grid-row-end: 4;

}

/* Menu display */

#mobile-nav, #mobile-expand{
    display: none;
}
.logo, .socials, #web-nav{
    display: block;
}
.logo h1{
    margin-left: 15%;

}
.menu{

    text-align: right;
    margin-top: 170px;
}
.copyright p {
    font-size: 0.7em;
    position: absolute;
    bottom: 0;
    left: 34px;
}
.socials{
    margin-top: 59px;
    text-align: center;
}

.socials a {
    margin-right: 8px ;
}
/* Background main content */
.right-side {
    background: url('public/assets/img/470reredesktop.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
}

.main-content{
    margin-top: 280px;
}


}

@media (min-width: 1320px)
{
    .container
    {
        grid-template-columns: 16% 84%;

    }
    .logo h1{
        margin-left: 20%;
    
    }
}