
.img-about{

    background: url('../img/000039.jpg') no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    
}

.about-title {
        
    font-size: 3.5em;
    align-self: center;
    text-shadow: 8px 9px 10px black;

}

.about-container {
    height: 100%;
    overflow: auto;
    display: grid;
    grid-template-rows: 60% 50% 50%;
}

.bio{
    background-color: #f0efeb;
    color: black;
    text-align: center;
}

.text-content-about {
    width: 800px;
    margin: auto;
}

.text-content-about h2 {
    font-size: 3em;
}

.competence
{
    display: grid;
    grid-template-rows: 10% 90%;
    
    background: black;
}
.jobs
{
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;

}
.job{

    text-align:center;
    padding: 25px;
    margin: 35px;
}
.competence-title
{
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}

}

@media (min-width: 1450px)
{
    .container
    {
        grid-template-columns: 18% 82%;

    }
    .logo h1{
        width: 65%;

    
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: auto; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
      
    }
    
    .img-content{
        margin: auto;
        display: block;
        height: 100vh !important;
    
    }
    
    .close {
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
      }

      .arrow-right
      { 
        cursor: pointer;
        position: absolute;
        top: 420px;
        right: 35px;
        color: #f1f1f1;
        font-size: 30px;

      }

      .arrow-left {
        cursor: pointer; 
        position: absolute;
        top: 420px;
        left: 35px;
        color: #f1f1f1;
        font-size: 30px;

      }
}