body {
    margin: 0;
    color: white;
    font-family: 'Playfair Display', serif;
}

.container{
    display: grid;
    grid-template-rows: 6% 94%;
    background: url('../img/470re.jpg') no-repeat fixed;
    background-size: cover;
    background-position: center center;
}

.left-side{
    grid-row-start:1;
    grid-row-end: 2;
    background-color: black;


}
.right-side
{

    grid-row-start:2;
    grid-row-end: 3;
    height: 100vh;

}
.container-inside{
    display: grid;
    grid-template-rows: 100% 0% 0%
}

.logo{
    grid-row-start:2;
    grid-row-end: 3;

}
.navbar
{
    grid-row-start:1;
    grid-row-end: 2;
    height: 60px;



}
.socials{
    grid-row-start:3;
    grid-row-end: 4;

}
/* Mobile nav style */

.displayNone {
    display: none !important;
}
.displayBlock {
    display: block;
}
a{
    text-decoration: none;
    color: white;
    transition: 0.6s;

}


.logo, .socials,.footer, #web-nav{
    display: none;
}

#mobile-nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#mobile-nav a{
    margin-top: 2px;
}

#mobile-expand {
    background: black;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1;

}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-times {
    margin-right: 41px;
    margin-top: 20px;
    font-size: 34px;
    cursor: pointer;
}

.menu {
    list-style: none;
    margin-top: 100px;
    text-align: center;
}

.menu li {
    margin: 20px;
    font-size: 1.2em;
    
}
.menu li {
    color: white;
    transition-property: transform;
    transition: 0.4s;
    
}
.menu li:hover {
    transform: scale(1.1);
 
}

.menu li a:hover {
    color: #7d7d7e !important;
}


.mobile-logo 
{
    
    font-size: 0.9em;
    font-weight: 600;
    display: inline-block;
    margin-left: 31px;
    margin-top: 22px;
}
.hamburger {
    margin-right: 25px;
    cursor: pointer;
}
.fa-bars {
    font-size: 25px;
}

/* Main Content Style */


.main-content{
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-top: 97px;
    padding: 0px 60px;
}

.main-content h2 {
    font-size: 1.7em;
    font-weight: 600;
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.main-content {
    font-size: 0.9em;
    font-weight: 400;
}

/* Gallery version mobile */

.gallery-bg
{
    height: 100%;
    display: grid;
    grid-template-rows: 96% 50% 100%;
    overflow: scroll;
}
.category-top {
    display: grid;
    grid-template-rows: 50% 50%;
}
.category-bottom {
    display: grid;
    grid-template-rows: 50% 50%;
}
.background-option
{
    background-size: cover !important;
    background-position: center center !important;
}


/* Box présentation */
.category
{
    border: 1px solid black;
    box-shadow: 1px 2px 14px 2px black;

}
.category-title
{   
    display: inline-block;
    padding: 5px;
    font-size: 2em;
    color: white;
    max-width: 100%;
    border-bottom: 1px solid white;
    margin: 0;
}

.wrap{
    opacity: 0.01;
    height: 100%;
    transition: 0.6s;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.wrap:hover
{
    opacity: 0.80;
    border: 1px solid black;
    background-color: black;

}


.btn {
    display: block;
    text-transform: uppercase;
    font-size: 0.6em;
    padding: 7px;
    background-color: black;
    color: white;
    border: 1px solid grey;
    margin-top: 17px;
    

}

/* Category Display */

.category-container
{   display: flex;
    flex-wrap: wrap;
    height: 100%;
    transition: 0.4s;
}
.img {
    background-position: center center !important;
    background-size: cover !important;
    width: 100%;
    height: 30%;
}
.effect {
    opacity: 0.01;
    height: 100%;
    transition: 0.6s;
    display: flex;

}
.effect:hover {
    opacity: 0.8;
    background: black;

}
.effect a {
    

    margin: auto;

}


/* Medium Screen */
@media (min-width: 897px) { 
    .container
{
    display: grid;

    grid-template-columns: 24% 76%;
    grid-template-rows: 25% 60% 15%;
}
.left-side
{
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:1;
    grid-row-end: 4;
    height: 100vh;

}
.right-side
{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end: 4;
    height: 100vh;

}

.container-inside{
    display: grid;
    grid-template-rows: 25% 60% 15%;
    height: 100vh;
}

.logo{
    grid-row-start:1;
    grid-row-end: 2;
}

.navbar
{
    grid-row-start:2;
    grid-row-end: 3;

    height: 100%;
}
.socials{
    grid-row-start:3;
    grid-row-end: 4;

}

/* Menu display */

#mobile-nav, #mobile-expand{
    display: none;
}
.logo, .socials,.footer, #web-nav{
    display: block;
}
.logo h1{
    width:75%;
    margin:100px auto;
    padding: 20px;
    font-weight: 800;


}
.menu{

    text-align: right;
    margin-top: 170px;
}
.copyright p {
    font-size: 0.7em;
    text-align: center;
}
.socials{
    margin-top: 59px;
    text-align: center;
}

.socials a {
    margin-right: 8px ;
}

.socials a:hover {
    color: #7d7d7e !important; 
}

.menu a {
    font-size: 1.1em;
    display: inline-block;




}
.menu a:after {
    display:block;
    content: '';
    border-bottom: solid 1px white;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    padding-bottom: 2px;
  
}
.menu a:hover:after 
{ transform: scaleX(1); }


.menu li {
    margin-right: 35px;
    
    
    
}
/* Background main content */
.right-side {
    background: url(../img/470reredesktop.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.main-content{
    margin-top: 150px;
}

.main-content h1 {

    font-size: 3.5em;
    text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                10px 20px 5px rgba(0,0,0,0.05),
                -10px 20px 5px rgba(0,0,0,0.05);
}

/* Page Gallery */

/* Grid */
.gallery-bg{
    height: 100%;
    display: grid;
    grid-template-rows: 50% 50% 50% 50% 50% ;
    overflow: scroll;
}
.category-top {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
.category-bottom {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}


.middle-margin h2, .middle-margin a {
    margin-right: 50%;
}

/* Box présentation */
.category
{
    border: 1px solid black;
    box-shadow: 1px 2px 14px 2px black;

}

/* Category Page */

.category-container{
    overflow: scroll;
    flex-wrap: wrap;
    
}

.img{
    margin: 0;
    width: 49.7%;


}

@media (min-width: 1450px)
{
    .container
    {
        grid-template-columns: 18% 82%;

    }
    .logo h1{
        width: 65%;

    
    }
    .img{
        margin: 0;
        width: 33.1%;
    
    
    }
}