body {
    margin: 0;
    color: white;
    font-family: 'Playfair Display', serif;
}

.container{
    display: grid;
    grid-template-rows: 6% 90%;
    background: url('../img/470re.jpg') no-repeat fixed;
    background-size: cover;
    background-position: center center;
}

.left-side{
    grid-row-start:1;
    grid-row-end: 2;
}
.right-side
{

    grid-row-start:2;
    grid-row-end: 3;
    height: 93vh;

}
.container-inside{
    display: grid;
    grid-template-rows: 100% 0% 0%
}

.logo{
    grid-row-start:2;
    grid-row-end: 3;

}
.navbar
{
    grid-row-start:1;
    grid-row-end: 2;
    height: 60px;



}
.socials{
    grid-row-start:3;
    grid-row-end: 4;

}
/* Mobile nav style */

.displayNone {
    display: none !important;
}
.displayBlock {
    display: block;
}
a{
    text-decoration: none;
    color: white;
    transition: 0.6s;

}


.logo, .socials,.footer, #web-nav{
    display: none;
}

#mobile-nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-radius: 2px;

}

#mobile-nav a{
    margin-top: 2px;
}

#mobile-expand {
    background: black;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1;

}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-times {
    margin-right: 26px;
    margin-top: 15px;
    font-size: 1.9em;
    cursor: pointer;
}

.menu {
    list-style: none;
    margin-top: 100px;
    text-align: center;
}

.menu li {
    margin: 20px;
    font-size: 1.2em;
    
}
.menu li {
    color: white;
    transition-property: transform;
    transition: 0.4s;
    
}
.menu li:hover {
    transform: scale(1.1);
 
}

.menu li a:hover {
    color: #7d7d7e !important;
}


.mobile-logo 
{
    
    font-size: 0.9em;
    font-weight: 600;
    display: inline-block;
    margin-left: 31px;
    margin-top: 17px;
}
.hamburger {
    margin-right: 25px;
    cursor: pointer;
}
.fa-bars {
    font-size: 1.9em;
}

/* Main Content Style */


.main-content{
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-top: 70px;
    padding: 0px 44px;
}
.main-content h1, .main-content p {
    text-shadow: 8px 9px 10px black;

}

.main-content h2 {
    font-size: 1.7em;
    font-weight: 600;
    text-shadow: 8px 9px 10px black;
}



/* Gallery version mobile */

.gallery-bg
{
    height: 100%;
    display: grid;
    grid-template-rows: 96% 50% 100%;
    overflow: scroll;
}
.category-top {
    display: grid;
    grid-template-rows: 50% 50%;
}
.category-bottom {
    display: grid;
    grid-template-rows: 50% 50%;
}
.background-option
{
    background-size: cover !important;
    background-position: center center !important;
}


/* Box présentation */
.category
{
    border: 1px solid black;
    box-shadow: 1px 2px 14px 2px black;

}
.category-title
{   
    display: inline-block;
    padding: 5px;
    font-size: 2.8em;
    color: white;
    max-width: 100%;
    border-bottom: 1px solid white;
    margin: 0;
}

.wrap{
    opacity: 0.01;
    height: 100%;
    transition: 0.6s;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.wrap:hover
{
    opacity: 0.80;
    border: 1px solid black;
    background-color: black;

}


.btn {
    display: block;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 7px;
    background-color: black;
    color: white;
    border: 1px solid grey;
    margin-top: 17px;
    

}

/* Category Display */

.category-container
{   display: flex;
    flex-wrap: wrap;
    height: 100%;
    transition: 0.4s;
}
.img {
    background-position: center center !important;
    background-size: cover !important;
    width: 100%;
    height: 30%;
}
.effect {
    opacity: 0.01;
    height: 100%;
    transition: 0.6s;
    display: flex;

}
.effect:hover {
    opacity: 0.8;
    background: black;

}
.effect a {
    

    margin: auto;

}
/* FullScreen Style for pictures in category templates */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  
}

.img-content{
    margin: auto  auto;
    display: block;
    max-width: 100%;
    max-height: 100vh;

}

.close {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .arrow-right
    { 
    cursor: pointer;
    position: absolute;
    top: 420px;
    right: 35px;
    color: #f1f1f1;
    font-size: 30px;

    }

    .arrow-left {
    cursor: pointer; 
    position: absolute;
    top: 420px;
    left: 35px;
    color: #f1f1f1;
    font-size: 30px;

    }

  /* Page about */
    .img-about{

        background: url('../img/000039.jpg') no-repeat;
        background-size: cover;
        background-position: center center;
        height: 100%;
        display: flex;
        justify-content: center;
        
    }
    
    .about-title , .contact-title {
            
        font-size: 2em;
        align-self: center;
        text-shadow: 8px 9px 10px black;
    
    }
    .text-content-about{
        padding: 10px 46px;
    }
    
    .about-container {
        height: 100vh;
        overflow: auto;
        display: grid;
        grid-template-rows: 45% 80% 115%;
    }
    
    .bio{
        background-color: #f0efeb;
        color: black;
        text-align: center;
    }
    
    .about-container h2 {
        font-size:2.5em;
    }
    
    .competence
    {   
        background: black;
        padding: 0 46px;
    }
    .job{
    
        text-align:center;
        padding: 5px; 
     }
    .competence-title
    {
        text-align: center;
    }
/* Page Contact */


.contact-container {
    background-color: black;
    height: 100vh;
    overflow: auto;
    display: grid;
    grid-template-rows:45% 90% 55% ;
}

.contact-header {
    background: url('../img/nature1.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    
}

.tarif {
    background-color: #f0efeb;
    color: black;
    text-align: center;
    padding: 0px 10px;
}
.prix
{
    margin: 50px auto;
    max-width: 450px;
    border: 1px solid black;
    height: 80%;
    padding: 30px 20px;
}
.list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    height: 80%;
    padding: 0;
    margin: 0;
}
.list-item{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    font-style: italic;
}
.place
{
    font-weight: bold;
    font-style: normal;
}
.prix-title
{
    margin: 0;
}
.prix-description
{
    font-size: 0.75em;
    font-style: italic;
}

.container-offer
{
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.offer-socials{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 25px 0
}
.offer-socials img {
    width: 80px;
    filter:grayscale(100%);
    transition: 0.8s;
}
.offer-socials img:hover {
    filter: none;
}
.offer-title {
    font-size: 1.5em;
}

@media (min-width: 473px) { 
    .about-container
    {
        grid-template-rows: 50% 60% 95%;
    }
}
/* Medium Screen */
@media (min-width: 897px) { 
    .container
{
    display: grid;

    grid-template-columns: 24% 76%;
    grid-template-rows: 25% 60% 15%;
}
.left-side
{
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:1;
    grid-row-end: 4;
    height: 100vh;

}
.right-side
{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end: 4;
    height: 100vh;

}

.container-inside{
    display: grid;
    grid-template-rows: 25% 60% 15%;
    height: 100vh;
}

.logo{
    grid-row-start:1;
    grid-row-end: 2;
}

.navbar
{
    grid-row-start:2;
    grid-row-end: 3;

    height: 100%;
}
.socials{
    grid-row-start:3;
    grid-row-end: 4;

}

/* Menu display */

#mobile-nav, #mobile-expand{
    display: none;
}
.logo, .socials,.footer, #web-nav{
    display: block;
}
.logo h1{
    width:75%;
    margin:100px auto;
    padding: 20px;
    font-weight: 800;


}
.menu{

    text-align: right;
    margin-top: 170px;
}
.copyright p {
    font-size: 0.9em;
    text-align: center;
}
.socials{
    margin-top: 59px;
    text-align: center;
}

.socials a {
    margin-right: 8px ;
}

.socials a:hover {
    color: #7d7d7e !important; 
}

.menu a {
    font-size: 1.1em;
    display: inline-block;




}
.menu a:after {
    display:block;
    content: '';
    border-bottom: solid 1px white;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    padding-bottom: 2px;
  
}
.menu a:hover:after 
{ transform: scaleX(1); }


.menu li {
    margin-right: 35px;
    
    
    
}
/* Background main content */
.right-side {
    background: url(../img/470reredesktop.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.main-content{
    margin-top: 150px;
}

.main-content h1 {

    font-size: 3em;

}

/* Page Gallery */

/* Grid */
.gallery-bg{
    height: 100%;
    display: grid;
    grid-template-rows: 50% 50% 50% 50% 50% ;
    overflow: scroll;
}
.category-top {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
.category-bottom {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}


.middle-margin h2, .middle-margin a {
    margin-right: 50%;
}

/* Box présentation */
.category
{
    border: 1px solid black;
    box-shadow: 1px 2px 14px 2px black;

}

/* Category Page */

.category-container{
    overflow: scroll;
    flex-wrap: wrap;
    background-color: black;
    
}

.img{
    margin: 0;
    width: 49.7%;


}


/* Page about */

.img-about{

    background: url('../img/000039.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    display: flex;
    justify-content: center;
    
}

.about-title, .contact-title {
        
    font-size: 3.5em;

}

.about-container {
    height: 100%;
    overflow: auto;
    display: grid;
    grid-template-rows: 60% 65% 65%;
}

.bio{
    background-color: #f0efeb;
    color: black;
    text-align: center;
}

.text-content-about {
    width: 800px;
    margin: auto;
}

.about-container h2 {
    font-size: 3em;
}

.competence
{
    display: grid;
    grid-template-rows: 30% 70%;
    background: black;
}

.competence-title
{
    width: 800px;
    margin: auto;
}
.jobs
{
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;

}
.job{

    text-align:center;
    padding: 15px 40px;
}
.competence-title
{
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}

/* Page contact */

.offer-socials img {
    width: 120px;

}
.offer-title {
    font-size: 2.3em;
}

.prix
{
    margin: 50px auto;
    max-width: 450px;
    border: 1px solid black;
    height: 80%;
    padding: 30px 100px;
}
.list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    height: 90%;
    padding: 0;
    margin: 0;
}
}

@media (min-width: 1450px)
{
    .container
    {
        grid-template-columns: 18% 82%;

    }
    .logo h1{
        width: 65%;

    
    }

    .img{
        margin: 0;
        width: 33.1%;
    
    
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: auto; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
      
    }
    
    .img-content{
        margin: auto;
        display: block;
        height: 100vh !important;
    
    }
    
    .close {
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
      }

      .arrow-right
      { 
        cursor: pointer;
        position: absolute;
        top: 420px;
        right: 35px;
        color: #f1f1f1;
        font-size: 30px;

      }

      .arrow-left {
        cursor: pointer; 
        position: absolute;
        top: 420px;
        left: 35px;
        color: #f1f1f1;
        font-size: 30px;

      }

      .about-container {
        height: 100%;
        overflow: auto;
        display: grid;
        grid-template-rows: 60% 62% 50%;
    }

    .job{
        padding: 10px 70px;
    }

    .competence-title {
        margin-bottom: 20px;
    }
    
}